.questiondetailpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
    margin: 0;
    padding: 0;
    width: 100% !important;
  }

  .questionDetailContainer{
    display: flex;
    flex-direction: column;
    height: 70%; /* Adjust the height as needed */
    width: 100%;
    overflow-y: auto;
  }

  .answerListContainer{
  
    height: 50%; /* Adjust the height as needed */
    width: 100%;
    overflow-y: auto; /* This enables vertical scrolling */
    border: 1px black;
  }

  @media (min-width: 1024px) {
    .answerListContainer {
      height: 600px; /* taller on larger screens */
    }
  }
  
  /* Medium screens */
  @media (min-width: 768px) and (max-width: 1023px) {
    .answerListContainer {
      height: 500px; /* medium height for medium screens */
    }
  }
  
  /* Smaller screens */
  @media (max-width: 767px) {
    .answerListContainer {
      height: 300px; /* shorter on small screens */
    }
  }
  .pagination {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  .pagination button {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

.questionMetaInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.vote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
 
  
}

.vote-arrow {
  background-color: rgb(197, 192, 192);
  border: 1px solid grey;
  cursor: pointer;
  box-shadow: 0 2px black;
  color:black;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.vote-arrow:hover {
  color: #000;
}

.vote-arrow:not(:disabled):hover  {
  background-color: #0056b3;
  box-shadow: 0 2px #003d75; /* Even darker for pressed effect */
  transform: translateY(1px); /* Pushes the button down */
}

.vote-arrow:active {
  box-shadow: 0 1px #003d75;
  transform: translateY(2px); /* More pushed down effect */
}

.vote-arrow:disabled {
  color: #9d9a9a;
  cursor: not-allowed;
  opacity: 0.5;
}





.up-arrow {
  /* Additional styling for up-arrow if needed */
}

.down-arrow {
  /* Additional styling for down-arrow if needed */
}

.vote-count {
  padding: 5px 10px;
  color: #555;
  font-size: 11px;
}
.view-count {
  padding: 5px 10px;
  color: #555;
  font-size: 11px;
}
