

body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 100vh !important;
}
#main {
  display: flex;
  height: 100vh;
}  
#mainBody,#tagPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100% !important;
}

#mainBodyPrimHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin-top: 25px;
  font-size: 20px;
  font-weight: 900;
}

#askQuestionBtn,#postAnswer,#askQuestionBtnOnAnswerPage,#askQuestionBtnOnTagPage {
  color: white;
  background-color: cornflowerblue;
  padding: 10px;
  border: 1px solid grey;
  cursor: pointer;
  box-shadow: 0 2px black;
  border-radius: 4px;
  transition: all 0.3s ease;
}









#username {
  color: red;
}

.fullHeightAnswerForm {
  display:flex;
  flex-direction: column;
  justify-content: center; /* Centers items vertically */
  height: 100vh;
  width: 100vh;
}

.buttonStyle{
  color: white;
  background-color: cornflowerblue;
  padding: 10px;
  /*display: inline-block;*/
}
  
#answersHeader,#tagHeader {
  display: flex;
  padding: 20px;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: row;

  width: 100%;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 900;
}
#questionBody{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr; /* Sets the column widths in 1:3:1 ratio */
  align-items: flex-start;
  padding: 20px;

  width: 100%;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 900;
}


.questionTextContainer{
  display: flex;
  align-items:center;
  flex-direction: column;
  max-width: 100%;
}

#questionText{
  font-weight:200;
  font-size: 16px;
  max-width: 100%;
  align-items: stretch;
  
}
#numAnswers,#numViews,#timeInfo{
  padding-right: 20px;
  font-size: 11px;
  display: block;
  flex-direction: row;
  color: gray;
}
#authorAndTime{
  font-size: 11px;
  display: flex;
  flex-direction: column;
}
#authorOfQuestion{
  color:red;
}

#answerButton{
 align-self: flex-start;
 padding: 20px;
}


.answerUserInfo {
  display: flex;
  flex-direction: column;
  font-size: 11px;
  padding: 10px;
}

.answerAuthor {
  color: green;
}

.answerTime{
  color:gray;
}

#tagCount{
  color : gray;
  font-size:medium;
}

#tagTitle{
  font-size: 20px;
  word-wrap: normal;
}

#tagHeader{
  justify-content: space-between !important;
}
.tagNode{
  /* border-top: 1px black dashed;
  border-left: 1px black dashed; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width : 150px;
  height: 150px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px rgba(0, 0, 0,1);
}

.tagName{
  color: blue;
}

.tagGrid{
  width: 100%;
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;  
}


.requiredField{
  color: red;
}

.answerNum{
  padding-right: 20px;
  font-size: 11px;
  display: block;
  flex-direction: row;
  color: gray;

}

#root {
  overflow:auto;
  height: 100vh; /* Optional: You might want to limit the height to the viewport */
  width: 100vw; /* Optional: You might want to limit the width to the viewport */
}

.error {
  color: red;
  font-size: 14px;
  font-weight: 300;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tagGridContainer{
  height: 80%;
  width:90%;
  overflow-y: auto;
  padding: 10px;
}






